

.footerDiv{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background-color:orange;
    width:100%;
}

.footerDiv>a{
    color:black;
}
.contact{
    display:flex;
    flex-direction: row;
    align-items:center;
}
h5{
    transform:scale(0.8)
}